.about-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: var(--p1);
  height: min-content;
  width: 100%;
  align-items: start;
}

.profile-photo {
  width: 100%;
}

.about-body {
  padding-right: var(--p1);
}

@media only screen and (max-width: 768px) {
  .about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 0px;
  }

  .about-body {
    padding-bottom: 80px;
    padding-right: 0px;
  }
}
