.knob-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: fit-content;
  align-items: center;
  justify-content: start;
  background-color: transparent;
  padding: 0em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .knob-div {
    padding: 0em 2em 0em 2em;
    justify-content: center;
  }
}
