.side-bar {
  position: fixed;
  height: calc(100dvh - 2 * var(--p1));
  width: var(--desktop-side-bar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.page-indicator {
  width: 6px;
  height: 6px;
  margin-left: -12px;
  margin-right: 6px;
  margin-top: 2px;
  background-color: var(--orange-4);
}

.nav-menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .side-bar {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: -1px;
    width: 100dvw;
    padding-top: var(--p1);
    padding-bottom: var(--p1);
    margin: 0px;
    box-shadow: var(--grey-7) 0px -2px 1px 0px;
    border-top-left-radius: var(--p1);
    border-top-right-radius: var(--p1);
    align-items: center;
    justify-content: center;
    background-color: var(--grey-9);
    z-index: 100;
  }

  .copyright {
    display: none;
  }
}
