.portfolio-item {
  padding: 0px;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-head {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio-title {
  width: max-content;
}

.pi-nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: var(--p1);
}

.pi-nav-buttons-mobile {
  display: none;
}

.portfolio-buttons {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.portfolio-buttons button {
  border: none;
  background-color: transparent;
  text-align: right;
  font-family: "articulate-cf", sans-serif;
  color: var(--grey-1);
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  cursor: crosshair;
}

.portfolio-buttons button:hover {
  color: var(--grey-5);
}

.portfolio-item .child-space {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 100%;
  padding-top: var(--p1);
}

@media only screen and (max-width: 1024px) {
  .portfolio-head {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    padding-top: var(--p2);
    padding-bottom: var(--p2);
    padding-left: var(--p1);
    padding-right: var(--p1);
    box-shadow: var(--grey-7) 0px 2px 1px 0px;
    border-bottom-left-radius: var(--p1);
    border-bottom-right-radius: var(--p1);
    background-color: var(--grey-9);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 11;
  }
  .portfolio-title {
    width: 100%;
    padding-bottom: var(--p2);
  }
  .portfolio-buttons {
    display: none;
  }
  .portfolio-item {
    height: min-content;
    box-sizing: border-box;
    width: 100%;
  }
  .portfolio-item .child-space {
    margin-top: 140px;
    padding: var(--p1) 0px var(--p2) 0px;
    justify-content: start;
    height: calc(100dvh - 180px);
  }
  .pi-nav-buttons-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
}
