.portfolio-item {
  padding: 0px;
  height: calc(100dvh - 2 * var(--p1));
  box-sizing: border-box;
  width: calc(100dvw - var(--desktop-side-bar-width) - 2 * var(--p1));
}

.portfolio-head {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio-title {
  width: max-content;
}

.portfolio-buttons {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.portfolio-item .child-space {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 90px);
  padding-top: var(--p1);
}

.portfolio-info-pane {
  position: absolute;
  top: var(--p1);
  left: calc(-1 * var(--p1));
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px);
  background-color: rgba(213, 216, 222, 0.822);
  padding-top: var(--p1);
  padding-bottom: var(--p1);
  padding-left: var(--p1);
  border-radius: var(--p1);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  row-gap: 1em;
  height: calc(100% - 1 * var(--p1));
  width: calc(100% + var(--p1) + 2px);
  align-items: start;
}

.portfolio-gallery-photo {
  display: block;
  width: calc(100% - var(--p1));
  height: 80%;
  background-color: #ffffff;
  object-fit: contain;
  margin-left: 0px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  border-radius: var(--p1);
}

@media only screen and (max-width: 768px) {
  .portfolio-head {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    padding-top: var(--p2);
    padding-bottom: var(--p2);
    padding-left: var(--p1);
    padding-right: var(--p1);
    box-shadow: var(--grey-7) 0px 2px 1px 0px;
    border-bottom-left-radius: var(--p1);
    border-bottom-right-radius: var(--p1);
  }
  .portfolio-title {
    width: 100dvw;
    padding-bottom: var(--p2);
  }
  .portfolio-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
  .portfolio-item {
    height: 100dvh;
    box-sizing: border-box;
    width: 100dvw;
  }
  .portfolio-item .child-space {
    height: calc(100% - 180px);
  }
}
