/* inter-300 - latin */
/* Font source https://www.onlinewebfonts.com/download/53dc764fd0dbbb3140b7909afd437722 */
@font-face {
  font-family: "Chicago";
  font-style: normal;
  font-weight: 400;
  src: url("/type/chicago/Chicago.woff2") format("woff2");
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/type/Inter/inter-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/type/Plex/ibm-plex-mono-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-mono-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 300;
  src: url("/type/dm_mono/dm-mono-v14-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLORS */
  --grey-1: #161617;
  --grey-2: #303237;
  --grey-3: #41444e;
  --grey-4: #666872;
  --grey-5: #828389;
  --grey-6: #afb1ba;
  --grey-7: #d5d8de;
  --grey-8: #edeff2;
  --grey-9: #f5f6f7;

  --blue-1: #05082d;
  --blue-2: #141a5c;
  --blue-3: #1d2577;
  --blue-4: #1e3193;
  --blue-5: #3a52c7;
  --blue-6: #4c72e3;
  --blue-7: #8ea9df;
  --blue-8: #a9c1f2;
  --blue-9: #d5e2fd;

  --green-1: #062703;
  --green-2: #115b0a;
  --green-3: #218417;
  --green-4: #33b227;
  --green-5: #51dc45;
  --green-6: #83f578;
  --green-7: #affbaf;
  --green-8: #ceface;
  --green-9: #e6fee8;

  --orange-1: #372401;
  --orange-2: #6d4205;
  --orange-3: #b36b06;
  --orange-4: #e49103;
  --orange-5: #fba701;
  --orange-6: #ffc553;
  --orange-7: #fedc8c;
  --orange-8: #feecbc;
  --orange-9: #fff5d8;

  --red-1: #2e0000;
  --red-2: #5c0102;
  --red-3: #a50003;
  --red-4: #cc030d;
  --red-5: #f90410;
  --red-6: #fe595f;
  --red-7: #fe8f98;
  --red-8: #ffc9d0;
  --red-9: #fff5f7;

  --p1: 20px;
  --p2: 40px;
  --desktop-side-bar-width: 180px;
  --max-flex-width: 1500px;
  --mobile-break-point: 475px;
}

.header1 {
  font-family: "articulat-cf";
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  color: var(--grey-3);
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.header2 {
  font-family: "articulat-cf";
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--grey-4);
  padding: 0px;
  margin: 0px;
  text-align: left;
  max-width: 600px;
}

.body {
  font-family: "articulat-cf";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey-1);
  padding: 0px;
  margin: 0px;
  text-align: left;
  width: 100%;
  max-width: 480px;
}

.mobile-drop-shadow {
  box-shadow: var(--grey-7) 0px 2px 1px 0px;
}

.small-button {
  font-family: "articulat-cf";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey-1);
  padding: 0px;
  margin: 0px;
  max-width: 480px;
  text-transform: lowercase;
  text-decoration: underline;
  cursor: crosshair;
}

.small-button:hover {
  color: var(--grey-5);
}

.small-button-inactive {
  font-family: "articulat-cf";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey-5);
  padding: 0px;
  margin: 0px;
  text-align: left;
  max-width: 480px;
  text-transform: lowercase;
  text-decoration: underline;
  cursor: crosshair;
}

.large-button {
  font-family: "articulat-cf";
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: var(--grey-2);
  padding: 0px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: crosshair;
}

.large-button:hover {
  color: var(--grey-5);
}

* {
  box-sizing: border-box;
}

.app {
  font-size: var(--app-text-size);
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100dvw;
  max-width: 1800px;
  height: 100%;
  box-sizing: border-box;
  padding: var(--p1);
  position: relative;
}

.view-area {
  margin-left: var(--desktop-side-bar-width);
  width: 100%;
  max-width: 1620px;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  background-image: linear-gradient(
    to bottom right,
    var(--grey-9),
    var(--grey-8)
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  overflow: auto;
}

/* prevents over scrolling where white at top of page is revealed when scrolling up */
html {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  :root {
    --p1: 10px;
    --p2: 20px;
  }
  .app {
    padding: 0px;
    width: 100dvw;
    align-items: start;
    flex-direction: column;
  }
  .view-area {
    margin-left: 0px;
    width: 100dvw;
  }
  .header1 {
    font-size: 16px;
    line-height: 20px;
    text-wrap: wrap;
  }
  .header2 {
    font-size: 16px;
    line-height: 20px;
    text-wrap: wrap;
  }
}
