/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/type/Inter/inter-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/type/Inter/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/type/Plex/ibm-plex-mono-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --grad-1-color: rgb(234, 237, 243);
  --grad-2-color: rgb(218, 222, 231);
}

* {
  box-sizing: border-box;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  color: var(--portfolio-type-color);
  font-family: "Inter";
  font-weight: 300;
  padding: 0px;
}

.name-section {
  display: flex;
  flex-direction: column;
  gap: 0em;
  padding: 0em 2em 2em 0em;
  border-right: var(--portfolio-divider-color) solid 1px;
  box-sizing: border-box;
  font-weight: 300;
}

.about-section {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  font-size: 2em;
  text-align: left;
  text-wrap: pre-wrap;
  justify-content: end;
  letter-spacing: -0.05em;
  line-height: 1em;
  padding: 0em 0em 0em 2em;
}

.title1 {
  padding: 0em;
  margin: 0em;
  font-size: 3em;
  letter-spacing: 0.1em;
}

.title2 {
  padding: 0em;
  margin: 0.5em 0em 0em 0em;
  font-size: 2em;
}

.app {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  gap: 1rem;
  box-sizing: border-box;
  padding: 40px;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(
    to bottom right,
    var(--grad-1-color),
    var(--grad-2-color)
  );
  background-image: -moz-linear-gradient(
    to bottom right,
    var(--grad-1-color),
    var(--grad-2-color)
  );

  background-image: linear-gradient(
    to bottom right,
    var(--grad-1-color),
    var(--grad-2-color)
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.portfolio-item .product-card-viewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #323131;
  padding: 6em 2em 6em 2em;
  box-sizing: border-box;
}

.portfolio-item .knob-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: #332e2e solid 1px;
  padding: 2em 2em 2em 2em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .app {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    align-items: center;
  }
  .intro {
    flex-direction: column;
  }
  .name-section {
    border-right: var(--portfolio-divider-color) solid 0px;
    border-bottom: var(--portfolio-divider-color) solid 1px;
  }
  .about-section {
    justify-content: start;
    padding: 1em 0em 1em 0em;
    font-size: 1.5em;
  }
  .header1 {
    font-size: 2em;
  }
  .header2 {
    font-size: 1em;
  }
}
