/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/type/Inter/inter-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/type/Inter/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/type/Inter/inter-v18-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/type/Inter/inter-v18-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --grad-1-color: rgb(234, 237, 243);
  --grad-2-color: rgb(218, 222, 231);
  --type-color: #222240;
  --header-color: #222240;
  --description-bg-color: rgba(204, 207, 222, 0.366);
  --title-bg-grad: #ffffff58;
  --divider-color: #acacb9;
}

.header1 {
  padding: 0em;
  margin: 0em;
  font-family: "Inter";
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 0.15em;
  color: var(--type-color);
}

.header2 {
  padding: 0em;
  margin: 0em;
  font-family: "Inter";
  font-size: 2em;
  font-weight: 300;
  color: var(--type-color);
}

.header3 {
  padding: 0em;
  margin: 0em;
  font-family: "Inter";
  font-size: 1.5em;
  font-weight: 300;
  color: var(--type-color);
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding-bottom: 4em;
  padding-top: 1.5em;
  border-top: var(--divider-color) solid 1px;
  color: var(--type-color);
}

.portfolio-item .description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--description-bg-color);
  padding: 2em;
}

.portfolio-item .description .header1 {
  width: 100%;
  min-width: min-content;
  text-align: left;
  padding: 0.5em 0.5em 0.25em 0.5em;
  box-sizing: border-box;
  background-color: var(--title-bg-grad);
  color: var(--header-color);
  font-family: "Inter";
  text-transform: uppercase;
  letter-spacing: 0em;
  /* box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.109); */
}

.portfolio-item .description .header2 {
  text-align: left;
  width: 100%;
}

.portfolio-item .description .header3 {
  text-align: left;
  width: 100%;
  padding: 0.5em 0.5em 0.25em 1.5em;
}

.app {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100dvw;
  max-width: 1280px;
  height: 100%;
  gap: 1rem;
  box-sizing: border-box;
  padding: 40px;
}

body {
  height: 100%;
  /* background-image: linear-gradient(
    to bottom right,
    rgb(79, 170, 99),
    rgb(54, 54, 177)
  ); */

  background-image: linear-gradient(
    to bottom right,
    var(--grad-1-color),
    var(--grad-2-color)
  );
}

.portfolio-item .product-card-viewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000da;
  padding: 2em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .app {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
  }
  .header1 {
    font-size: 2em;
  }
  .header2 {
    font-size: 1em;
  }
  .portfolio-item .description .header1 {
    text-align: center;
    font-size: 2em;
  }

  .portfolio-item .description .header2 {
    font-size: 1em;
  }

  .portfolio-item .description .header3 {
    text-align: left;
    width: 100%;
    padding: 0em;
    font-size: 1em;
  }

  .portfolio-item .product-card-viewer {
    flex-direction: column;
  }
}
